.c-header {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 1px 4px rgba(0, 0, 0, 0.28);
  padding: 15px 30px;
  position: relative;
  z-index: 9;

  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .title {
    color: #ee6e73;
    margin: 0;
  }

  .box {
    .nome {
      margin-right: 20px;
    }
  }

  nav {
    a {
      margin-right: 15px;
      color: #565656;
    }
  }

  a {
    text-decoration: none;
  }
}
