@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

// --- Variaveis
$border-radius: 6px;
$color-primary: #ee6e73;
// ---------------------------------------------------------

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #565867;
}

.title {
  font-weight: 500;
}

body {
  background-color: #fbfbfb;
}

.c-produto.mat-card {
  img {
    border-radius: $border-radius $border-radius 0 0;
  }
}

.mat-card,
.form-control {
  border-radius: $border-radius !important;
  background-color: #fff;
}

// --- Buttons
.c-button {
  border: none;
  background: #2ec4b6;
  border-radius: $border-radius;
  cursor: pointer;
  transition: 0.3s all ease;
  outline: none;
  min-width: 140px;
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;

  *,
  & {
    color: #fff;
    font-size: 16px;
  }

  &:hover {
    background: darken($color: #2ec4b6, $amount: 10);
  }

  &.m-large {
    min-width: 200px;
    min-height: 38px;
  }
}
// ---------------------------------------------------------

// --- Radio Button
.ct-radio-button {
  padding: 0 0 0 25px;
  position: relative;
  margin: 0 0 5px;
  cursor: pointer;

  input {
    display: none;

    &:checked ~ .text::before {
      border-color: $color-primary;
    }

    &:checked ~ .text::after {
      background-color: $color-primary;
    }
  }

  .text {
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      border-radius: 100% !important;
    }

    &::before {
      width: 14px;
      height: 14px;
      border: 1px solid #ccc;
      left: 0;
    }

    &::after {
      width: 8px;
      height: 8px;
      background-color: #fff;
      left: 3px;
      transition: 0.3s all ease;
    }
  }
}
// ---------------------------------------------------------
